* {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
/*Navbar Section Design*/
nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
}
nav h3{
    color: #272727;
    font-size: 38px;
    font-weight: 800;
    cursor: pointer;
}
nav ul{
    display: flex;
    align-items: center;
}
nav .menu ul li {
    list-style: none;
    margin-right: 25px;
}
nav .nav-icon ul li {
    list-style: none;
    margin-right: 15px;
}
nav li a{
    text-decoration: none;
    color: #272727;
    font-size: 16px;
    font-weight: 700;
}
nav li:hover a{
    color: #E55473;
    text-decoration: underline;
}
/*Banner Section Design*/
.banner {
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 80px;
    background-color: #E554731A;
}
.banner-content {
    width: 525px;
}
.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
}
.section-text { /*All Section Text Design*/
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.banner-image img {
    width: 435px;
}
.primary-btn {
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}
/*Featured Section Design*/
.featured {
    max-width: 900px;
    margin: 100px auto 0px;
    text-align: center;
}
.featured-contents {
    width: 500px;
    margin: 0 auto;
}
.section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 900;
}
.featured-flowers {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.flower-box {
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 0px 0px;
    padding: 60px 30px 0px 30px;
    margin-bottom: 10px;
}
#f-box1 {
    background-color: #A7216226;
}
#f-box2 {
    background-color: #0597A026;
}
#f-box3 {
    background-color: #477D1126;
}
.flower-box img {
    width: 150px;
    height: 200px;
}
.flower-box-title {
    color: #272727;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
    cursor: pointer;
}
/*Shop Info Section Design*/
.shop-info {
    max-width: 800px;
    margin: 50px auto 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: #2727270D;
    padding: 50px 20px;
    border-radius: 5px;
}
.shop-info-box {
    text-align: center;
}
.shop-info-box img {
    width: 60px;
    height: 60px;

}
/*Product Section Design*/
.product {
    max-width: 850px;
    margin: 100px auto 0px;
    text-align: center;
}
.product-contents {
    width: 500px;
    margin: 0 auto;
}
.product-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-box {
    width: 230px;
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-box img {
    width: 230px;
    height: 250px;
    margin-bottom: 5px;
}
.product-name {
    margin: 2px;
    font-size: 14px;
    color: #111010;
    cursor: pointer;
}
.product-name:hover {
    text-decoration: underline;
}
.price {
    margin: 2px;
    color: #E55473;
    font-size: 15px;
}
.product-box > .primary-btn {
    margin-top: 10px;
}
/*Deals Banner Section Design*/
.deals-banner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #E554730D;
    padding: 80px 150px;
    align-items: center;
}
.deals-column {
    width: 50%;
}
.color-text {
    color: #E55473;
}
.deals-column > .section-title {
    text-align: center;
}
.deals-column > .section-text {
    text-align: center;
}
.deals-column > .primary-btn {
    position: relative;
    left: 45%;
}
.deals-column img {
    position: relative;
    left: 25%;
    width: 250px;
    height: 350px;
}
/*Instagram Section Design*/
.instagram {
    max-width: 900px;
    margin: 100px auto 0px;
    text-align: center;
}
.instagram-contents {
    width: 500px;
    margin: 0 auto;
}
.instagram-feed {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.instagram-feed img {
    width: 210px;
    height: 240px;
    cursor: pointer;
}
/*Newsletter Section Design*/
.newsletter {
    max-width: 700px;
    margin: 100px auto 0px;
    padding: 60px 100px;
    text-align: center;
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.newsletter>.section-title, .newsletter>.section-text {
    margin: 0px;
}
.newsletter>form>input[type="email"] {
    width: 500px;
    height: 25px;
    padding: 10px;
    font-size: 15px;
    margin-top: 50px;
    border: 0;
    outline: none;
    border-radius: 2px;
} 
.newsletter>form>input[type="submit"] {
    padding: 15px 20px;
    border: 0;
    margin-left: 5px;
    cursor: pointer;
    color: #fff;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border: 0;
}
/*Footer Section Design*/
.footer {
    margin-top: 100px;
    text-align: center;
    background-color: #111010;
}
.footer-container {
    width: 700px;
    margin: 0 auto;
    padding: 50px 100px;
}
.footer-title {
    color: #fff;
    font-size: 38px;
    font-weight: 800;
}
.footer-container>.section-text {
    color: #FFFFFFE5;
}
.footer-container>.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.credit {
    background-color: #E55473;
    padding: 10px;
}
.credit p{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFFE5;
    margin: 0;
}