* {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
/*Banner Section Design*/
.banner {
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 80px;
    background-color: #E554731A;
}
.banner-content {
    width: 525px;
}
.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
}
.section-text { /*All Section Text Design*/
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.banner-image img {
    width: 435px;
}
.primary-btn {
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border: 0;
}
/*Featured Section Design*/
.featured {
    max-width: 900px;
    margin: 150px auto 0px;
    text-align: center;
}
.featured-contents {
    width: 500px;
    margin: 0 auto;
}
.section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 900;
}
.featured-flowers {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.flower-box {
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 0px 0px;
    padding: 60px 30px 0px 30px;
    margin-bottom: 10px;
}
#f-box1 {
    background-color: #A7216226;
}
#f-box2 {
    background-color: #0597A026;
}
#f-box3 {
    background-color: #477D1126;
}
.flower-box img {
    width: 150px;
    height: 200px;
}
.flower-box-title {
    color: #272727;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}
/*Shop Info Section Design*/
.shop-info {
    max-width: 900px;
    margin: 100px auto 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: #2727270D;
    padding: 50px 20px;
    border-radius: 5px;
}
.shop-info-box {
    text-align: center;
}
.shop-info-box img {
    width: 60px;
    height: 60px;

}
